<div class="main-wrapper pt-80">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 order-2 order-lg-1">
                <app-personal-header></app-personal-header>
            </div>

            <div class="col-lg-12 order-2 order-lg-1">

                <div class="card seas">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="part-hdng dea">
                                <h3 class="page-sec-hfn">Subscriptions</h3>
                                <select class="form-control ">
                                    <option>Sort by</option>
                                    <option>Highest Contribution</option>
                                    <option>Most Recent Contribution</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <app-subscription-element [subscription]="subscription" *ngFor="let subscription of subscriptions"></app-subscription-element>

                </div>

            </div>

        </div>
    </div>
</div>