<section class="cover-sec">
    <img src="assets/client/images/115007.png" alt="">

    <div class="add-pic-box">
        <div class="container">
            <ul class="profile__actions">
                <li class="b-pitem active">
                   
                    <span class="">{{ total_post ? total_post : 0 }}</span>
                    <span class=""> Posts </span>
                    
                </li>
                <li class="b-pitem">
                   
                    <span class="">{{ post_media_image ? post_media_image : 0}}</span>
                    <span class="b-profile__actions__name"> Photos </span>
                   
                </li>
                <li class="b-pitem">
                    
                    <span class="">{{ post_media_video ? post_media_video : 0 }}</span>
                    <span class=""> Videos </span>
                   
                </li>
                <!---->
                <li class="b-pitem">
                   
                    <span class="">{{ total_favorites ? total_favorites : 0 }}</span>
                    <span class=""> Favorites </span>
                   
                </li>
                <li class="b-pitem">
                    
                    <span class="">{{ total_likes ? total_likes : 0 }}</span>
                    <span class=""> Likes </span>
                    
                </li>
            </ul>
        </div>
    </div>
</section>

<app-other-profile-info *ngIf="userInfo" [userInfo]="userInfo"></app-other-profile-info>


<div class="main-wrapper pt-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <app-post-card [post]="post" *ngFor="let post of posts"></app-post-card>
            </div>
        </div>

        <div class="row pagination">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="2" [rotate]="true" [boundaryLinks]="true" id="paginate" (click)="pageChange($event)"></ngb-pagination>
        </div>

    </div>
</div>



















