<div class="main_log_con">
    <div class="login-box single-page-form-card">
      <img src="../../../assets/client/images/logoo.png" class="lkgo" />
      <p>did you forget your password? Please send me your email to reset your password.</p>
      <form class="email-login" method="POST" action="http://new.ukmovedirect.co.uk/login">
        <div class="u-form-group">
          <input id="email" placeholder="Enter Your Email" type="email" class="form-control" name="email" value=""
            required="" autocomplete="email" autofocus="" />
        </div>
        <div class="u-form-group">
          <button>Send Email</button>
        </div>
        <div class="social-login">
          <app-social-icon></app-social-icon>
        </div>
      </form>
    </div>
  </div>
  