<div class="main-wrapper pt-80">
  <div class="container ">
    <div class="row">
      <div class="col-lg-12 order-2 order-lg-1">
        <div class="">
          <div class="message-con clearfix">
            <div class="people-list" id="people-list">
              <div class="search">
                <input type="text" placeholder="search" />
                <i class="fa fa-search"></i>
              </div>
              <div class="cre-ms"><i class="fas fa-plus" aria-hidden="true"></i>
                <ul class="dropdown-menu language-change" x-placement="bottom-start"
                  style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                  <li><a href="#">Report @Lorem</a></li>
                  <li><a href="#">Pin to top</a></li>
                </ul>
              </div>

              <div class="notifications">
                <div class="notifications-item">Notifications<span>13</span></div>
                <div class="notifications-item">Tipped<span>3</span></div>
                <div class="notifications-item">Subscribed<span>6</span></div>
                <div class="notifications-item">Requested Service<span>2</span></div>
              </div>


              <ul class="list">
                <li class="clearfix">
                  <img src="assets/client/images/gp.png" alt="avatar" />
                  <div class="about">
                    <div class="name">Group 1</div>
                    <div class="status">
                      Lorem ipsum dollor...
                    </div>
                  </div>
                </li>

                <li class="clearfix">
                  <img src="assets/client/images/gp.png" alt="avatar" />
                  <div class="about">
                    <div class="name">Group 2</div>
                    <div class="status">
                      Lorem ipsum dollor...
                    </div>
                  </div>
                </li>

                <li class="clearfix">
                  <img src="assets/client/images/chat_avatar_03.jpg" alt="avatar" />
                  <div class="about">
                    <div class="name">Mike Thomas</div>
                    <div class="status">
                      Lorem ipsum dollor...
                    </div>
                  </div>
                </li>

                <li class="clearfix">
                  <img src="assets/client/images/chat_avatar_10.jpg" alt="avatar" />
                  <div class="about">
                    <div class="name">Peyton Mckinney</div>
                    <div class="status">
                      Lorem ipsum dollor...
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="chat">
              <div class="chat-header clearfix">
                <img src="assets/client/images/chat_avatar_01_green.jpg" alt="avatar" />

                <div class="chat-about">
                  <div class="chat-with">Chat with Vincent Porter</div>
                  <div class="chat-num-messages">already 1 902 messages</div>
                </div>

                <div class="ddsw"> <i class="fa fa-search"></i><span> Find</span><i class="fas fa-bell"></i>
                  <div class="dropdown language-dropdown gdfg ">

                    <a data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fas fa-ellipsis-h"></i> </a>
                    <ul class="dropdown-menu language-change">
                      <li><a href="#">Report @Lorem</a></li>
                      <li><a href="#">Pin to top</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="chat-history">
                <ul>
                  <li class="clearfix">
                    <div class="message-data align-right">
                      <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
                      <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>
                    </div>
                    <div class="message other-message float-right">
                      Hi Vincent, how are you? How is the project coming along?
                    </div>
                  </li>

                  <li>
                    <div class="message-data">
                      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                      <span class="message-data-time">10:12 AM, Today</span>
                    </div>
                    <div class="message my-message">
                      Are we meeting today? Project has been already finished and I have results to show you.
                    </div>
                  </li>

                  <li class="clearfix">
                    <div class="message-data align-right">
                      <span class="message-data-time">10:14 AM, Today</span> &nbsp; &nbsp;
                      <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>

                    </div>
                    <div class="message other-message float-right">
                      Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced
                      any problems at the last phase of the project?
                    </div>
                  </li>


                  <li>
                    <div class="message-data">
                      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                      <span class="message-data-time">10:31 AM, Today</span>
                    </div>
                    <i class="fa fa-circle online"></i>
                    <i class="fa fa-circle online" style="color: #AED2A6"></i>
                    <i class="fa fa-circle online" style="color:#DAE9DA"></i>
                  </li>

                </ul>

              </div> <!-- end chat-history -->

              <div class="chat-message clearfix">

                <div style="display: flex;">
                  <i-feather name="smile" style="color: green; margin-top: 10px;" (click)="toggleEmojiPicker()"></i-feather>
                  <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>
                </div>

                <emoji-mart [style]="{ position: 'absolute', bottom: '160px', right: '205px' }" class="emoji-mart" set="apple" (emojiSelect)="addEmoji($event)" *ngIf="showEmojiPicker" title="Pick your emoji…"></emoji-mart>
                
                <i class="fas fa-paperclip"></i> &nbsp;&nbsp;&nbsp;
                <i class="fas fa-dollar-sign"></i>
                <button>Send</button>

              </div>

            </div> 

          </div> 

          <script id="message-template" type="text/x-handlebars-template">
            <li class="clearfix">
              <div class="message-data align-right">
                <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
                <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
              </div>
              <div class="message other-message float-right">
                {{messageOutput}}
              </div>
            </li>
          </script>

          <script id="message-response-template" type="text/x-handlebars-template">
            <li>
              <div class="message-data">
                <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                <span class="message-data-time">{{time}}, Today</span>
              </div>
              <div class="message my-message">
                {{response}}
              </div>
            </li>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
