<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="logo">
                    <a class="navbar-brand" href="#"><img class="img-fluid" src="../../../assets/client/images/logoo.png" alt="Logo"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="top-rt">
                    <div class="search-box">
                        <form class="navbar-form navbar-right hidden-sm">
                            <div class="form-group">
                                <i class="fa fa-search"></i>
                                <input type="text" class="form-control" placeholder="Search friends, photos, videos">
                            </div>
                        </form>
                    </div>
                    <div class="log-btn">
                        <a href="#" class="small btn btn-primary px-4 py-2 rounded-0"><i class="fas fa-user" aria-hidden="true"></i>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header id="header" class="clearfix">
    <nav class="navbar navbar-default navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tr-mainmenu" aria-controls="tr-mainmenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="tr-mainmenu">
                <ul class="nav navbar-nav">
                    <li class=" dropdown" *ngFor="let menuItem of menuItems">
                        <a *ngIf="menuItem.childs.length == 0" href="{{menuItem.url}}">{{menuItem.name}}</a>
                        <a *ngIf="menuItem.childs.length != 0" (click)="subMenu(menuItem.id)" class="dropdown-toggle" data-toggle="dropdown">{{menuItem.name}}<span class="caret"></span></a>
                        <ul *ngIf="menuItem.childs.length != 0" class="dropdown-menu active" id="dropdown-menu{{menuItem.id}}" style="display: none">
                            <li *ngFor="let subMenuItem of menuItem.childs"><a href="{{subMenuItem.url}}">{{subMenuItem.name}}</a></li>
                        </ul>
                    </li>
                </ul>              
            </div>
            
            <div class="nav-right">
                <div class="dropdown language-dropdown">
                    <a data-toggle="dropdown" href="#" aria-expanded="false"><img src="../../../assets/client/images/en.png"><span class="change-text">English</span></a>
                    <ul class="dropdown-menu language-change">
                        <li><a href="#"><img src="../../../assets/client/images/ch.png">Chinese</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
