<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="logo">
                    <a class="navbar-brand" [routerLink]="'/home'"><img class="img-fluid" src="assets/client/images/logoo.png" alt="Logo"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="top-rt">
                    <div class="search-box">
                        <form class="navbar-form navbar-right hidden-sm">
                            <div class="form-group">
                                <i class="fa fa-search"></i>
                                <input type="text" class="form-control" placeholder="{{'Search friends, photos, videos' | translate}}">
                            </div>
                        </form>
                    </div>
                    <div class="log-btn">
                        <a (click)="logout()" class="small btn btn-primary px-4 py-2 rounded-0 logout"><i class="fas fa-user" aria-hidden="true"></i>{{ 'logout' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header id="header" class="clearfix">
    <nav class="navbar navbar-default navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tr-mainmenu" aria-controls="tr-mainmenu" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenuOpen()">
                <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="tr-mainmenu" [ngClass]="showMenu == true ? 'show' : ''">
                <ul class="nav navbar-nav">
                    <li class="dropdown"  *ngFor="let menuItem of menuItems">
                        <button mat-button  *ngIf="menuItem.childs.length == 0" [routerLink]="menuItem.url" routerLinkActive="active-link">{{menuItem.name | translate}}</button>
                        <button  *ngIf="menuItem.childs.length != 0" mat-button [matMenuTriggerFor]="aboveMenu" class="dropdown-toggle" routerLinkActive="active-link">{{menuItem.name | translate}}<span class="caret"></span></button>
                        <mat-menu #aboveMenu="matMenu">
                            <button mat-menu-item *ngFor="let subMenuItem of menuItem.childs"><a class="submenuItem" [routerLink]="subMenuItem.url" routerLinkActive="active-link">{{subMenuItem.name | translate}}</a></button>
                        </mat-menu>
                    </li>
                </ul>              
            </div>
            
            <div class="nav-right">
                <div class="dropdown language-dropdown">
                    <button mat-button [matMenuTriggerFor]="language"><img class="language-flag" [src]="'assets/client/images/' + selectedLanguage.flag + '.png'" ><span class="change-text">&nbsp; {{ selectedLanguage.title | translate }}</span></button>
                    <mat-menu #language="matMenu">
                        <button mat-menu-item *ngFor="let lang of languages" (click)="useLanguage(lang)"><img class="language-flag" [src]="'assets/client/images/' + lang.flag + '.png'" ><span class="change-text">&nbsp; {{ lang.title | translate }}</span></button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>

<div class="footer_links">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <ul>
                    <li>{{'About' | translate}}</li>
                    <li>{{'Contact us' | translate}}</li>
                    <li>{{'Terms & Conditions' | translate}}</li>
                    <li>{{'Privacy Policy' | translate}}</li>

                </ul>

            </div>




            <div class="col-lg-4">
                <p>© {{'All Rights Reserved' | translate}}</p>
            </div>

        </div>
    </div>
</div>
