<div class="row sus-dv">
    <div class="col-lg-12">
        <section class="cover-sec">
            <img [src]="subscription && subscription.get_profile_info.wall_pic !== null ? userWallUrl : 'assets/client/images/115007.png'" alt="">
        </section>
        <div class="profile-menu-area secondary-navigation-style">
            <div class="container">

                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-2">
                        <div class="profile-picture-box">
                            <figure class="profile-picture">
                                <a href="other-profile/{{subscription.get_profile_info.id}}">
                                    <img [src]="subscription && subscription.get_profile_info.profile_pic !== null ? userPhotoUrl : 'assets/client/images/normal.jpg'" alt="profile picture">
                                    <i class="fas fa-circle" aria-hidden="true"></i>
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="b-profile__user__status">
                            <p class="time">Online<i class="fas fa-check" aria-hidden="true"></i></p>
                            <div class="g-user-name m-lg-size m-verified"> {{subscription.get_profile_info.name }} </div>
                            <div class="g-user-username"><a href="other-profile/{{subscription.get_profile_info.id}}"> {{subscription.get_profile_info.email }} </a></div>
                            <div class="call-icon" (click)="openCallModal()">
                                <span data-toggle="tooltip" data-placement="top" title="1 to 1 Call">
                                    <i data-toggle="modal" data-target="#textbox8" class="fas fa-phone-square-alt" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 d-none d-md-block">
                        <div class="profile-edit-panel">
                            <i class="far fa-star" data-toggle="tooltip" data-placement="top" title="Add to Favourite" aria-hidden="true"></i><span class="sr-only">Add to Favourite</span>
                            <i class="far fa-share-square" data-toggle="tooltip" data-placement="top" title="Copy link to profile" aria-hidden="true"></i><span class="sr-only">Copy link to profile</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="info-ing">
                            
                            <mat-accordion class="userInfo-about">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <div class="loca-de show-more" data-toggle="collapse" data-target="#demo">
                                                <i class="far fa-user"></i>Show more info
                                            </div>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    
                                        {{ subscription.get_profile_info.about }}
                                   
                                </mat-expansion-panel>
                            </mat-accordion>
        
                            <div class="loca-de">
                                <i class="fas fa-map-marker-alt"></i>{{ subscription.get_profile_info.location }}
                            </div>
        
                        </div>
                    </div>
                </div>

                <div class="row ds-seas">
                    <div class="col-lg-12">
                        <div class="info-ing">
                            <div class="loca-de">
                                <i class="fas fa-user-clock"></i>Expiry date: {{subscription.expiry_date}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="info-ing">
                            <div class="b-frofile">
                                <a href="" class="round-btn"><i class="fas fa-file-invoice-dollar" aria-hidden="true"></i>Subscription options</a>
                            </div>
                            <div class="b-frofile">
                                <a class="round-btn" (click)="openTipModal()"><i class="fas fa-dollar-sign" aria-hidden="true"></i>Send a Tip</a>
                            </div>
                            <div class="b-frofile">
                                <a href="" class="round-btn"><i class="fas fa-store" aria-hidden="true"></i>Peresonal eStore</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>