<div class="main_log_con">
    <div class="login-box single-page-form-card">
      <img src="assets/client/images/logoo.png" class="lkgo" />
      <p>Sign up to make money and interact with your fans!</p>
      <form email-login name="registerForm" [formGroup]="resetForm" novalidate (ngSubmit)="resetPassword()">
        <mat-form-field appearance="outline" class="fields-group auth-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" [(ngModel)]="email" readonly>
            <mat-icon matSuffix class="secondary-text">mail</mat-icon>
            <mat-error *ngIf="resetForm.get('email').hasError('required')">
                Email is required
            </mat-error>
            <mat-error *ngIf="resetForm.get('email').hasError('email')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="fields-group auth-field" >
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error>
                Password is required
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="fields-group auth-field" >
            <mat-label>Password (Confirm)</mat-label>
            <input matInput type="password" formControlName="password_confirmation">
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error *ngIf="resetForm.get('password_confirmation').hasError('required')">
                Password confirmation is required
            </mat-error>
            <mat-error *ngIf="!resetForm.get('password_confirmation').hasError('required') &&
                               resetForm.get('password_confirmation').hasError('passwordsNotMatching')">
                Passwords must match
            </mat-error>
        </mat-form-field>
        <br>
        <div class="u-form-group">
          <button mat-raised-button  class="submit-button" aria-label="CREATE AN ACCOUNT"
                  [disabled]="resetForm.invalid">
              Reset Password
          </button>
        </div>
      </form>
      <div class="line-through">
        <span class="line-through-text">OR</span>
        <p class="line-through-border"></p>
      </div>
      <div class="social-login">
        <app-social-icon></app-social-icon>
      </div>
    </div>
  </div>