<div class="main-wrapper request-service">
    <div class="container">

        <div class="row">
          <div class="col-lg-9 col-md-7 col-sm-6 col-12 col-xs-12">
            <div class="section-headline">
              <h3>{{'REQUEST FOR SERVICE' | translate}}</h3>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-5 col-sm-6 col-12 col-xs-12">
            <div class="create-btn">
              <a class="btnw round-btn" data-toggle="modal" data-target="#textboxd" (click)="openDialog()">
                  <i class="fas fa-plus-circle"></i>{{'Create New' | translate}}
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="listings-container compact-list-layout margin-top-35 filter-element">
            <app-element-request [request]="request" *ngFor="let request of requestServices"></app-element-request>
          </div>
        </div>

        <div class="row pagination" *ngIf="requestServices && requestServices.length > 9">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="2" [rotate]="true" [boundaryLinks]="true" id="paginate" (click)="pageChange($event)"></ngb-pagination>
        </div>
        
    </div>  
</div>