<div class="main-wrapper pt-80">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 order-2 order-lg-1">
                <app-personal-header></app-personal-header>
            </div>

            <div class="col-lg-12 order-2 order-lg-1">
                <div class="card seas">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="part-hdng dea">
                                <h3 class="page-sec-hfn">{{'Subscription And Tip Management' | translate}}</h3>
                                <a href="" class="btn-dem" data-toggle="modal" data-target="#textboxd"><i class="fas fa-user-cog"></i>{{'Subscription package' | translate}}</a>
                                <a href="" class="btn-dem" data-toggle="modal" data-target="#textbox12"><i class="fas fa-user-cog"></i>{{'Tipping Option' | translate}}</a>
                                <select class="form-control ">
                                    <option>{{'Sort by' | translate}}</option>
                                    <option>{{'Highest Contribution' | translate}}</option>
                                    <option>{{'Most Recent Contribution' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
        
                    <div class="row sus-dv">
                        <div class="col-lg-12">
                            <section class="cover-sec">
                                <img src="assets/client/images/115007.png" alt="">
                            </section>
                            <div class="profile-menu-area secondary-navigation-style">
                                <div class="container">
            
                                    <div class="row align-items-center">
                                        <div class="col-lg-2 col-md-2">
                                            <div class="profile-picture-box">
                                                <figure class="profile-picture">
                                                    <a href="">
                                                        <img src="assets/client/images/av.jpg" alt="profile picture">
                                                        <i class="fas fa-circle" aria-hidden="true"></i>
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-7">
                                            <div class="b-profile__user__status">
                                                <p class="time">{{'Online' | translate}}<i class="fas fa-check" aria-hidden="true"></i></p>
                                                <div class="g-user-name m-lg-size m-verified"> Merry Watson </div>
                                                <div class="g-user-username"><a href=""> @MerryWatson </a></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 d-none d-md-block">
                                            <div class="dropdown language-dropdown et-fe">
                                                <a data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fas fa-ellipsis-h" aria-hidden="true"></i> </a>
                                                <ul class="dropdown-menu language-change">
                                                    <li><a href="#"><img src=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row ds-seas">
                                        <div class="col-lg-12">
                                        <div class="info-ing">
                
                                            <div class="ser-listing-footerr">
                                            <ul>
                                                <li><i class="fas fa-money-bill" aria-hidden="true"></i><a href="" data-toggle="modal"
                                                    data-target="#textbox3">$5000</a></li>
                                                <li><i class="fas fa-clock" aria-hidden="true"></i> 05 Apr 2020</li>
                                                <li> <i class="fas fa-hourglass-half" aria-hidden="true"></i>60 Days</li>
                                            </ul>
                                            </div>
                
                                        </div>
                                        </div>
                
                                    </div>
                                
                                </div>
                            </div>
          
                        </div>
          
                    </div>
        
                </div>
            </div>

        </div>
    </div>
</div>