<div class="ser-listing-details">

    <div class="ser-listing-company-logo pro-ic">
        <img [src]="sales_order && sales_order.image ? productPhotoUrl : 'assets/client/images/shirt.png'" alt="">
    </div>
    
    <div class="ser-listing-description">
        <h3 class="ser-listing-title">{{sales_order.name}}</h3>
        <p>{{sales_order.description}}</p>
    </div>
    
    <div class="ed-dd">
        <span><i class="fas fa-pen" aria-hidden="true"></i>{{'Delivered' | translate}}</span>
    </div>
</div>