<!-- Modal start -->
    <div class="modal-dialog pay-de">
        <div class="modal-content">

            <div class="modal-body custom-scroll ps">

                <div class="info-hd">
                    <div class="profile-thumb">
                        <a>
                            <figure class="profile-thumb-middle">
                                <img [src]="this.data.profile_pic !== null ? profileUrl : 'assets/client/images/normal.jpg'" alt="profile picture">
                            </figure>
                        </a>
                    </div>

                    <div class="posted-author">
                        <h6 class="author dee"><a>{{this.data.name}}</a></h6>
                        <h3>{{'Enter Tip Amount' | translate}}</h3>
                    </div>

                </div>


                <div class="sdf">
                    <input class="effect-1" type="text" placeholder="$ 0.00">
                    <span class="focus-border"></span>
                    <div class="b-chat__panel__error"> {{'Minimum $5 USD' | translate}} </div>
                </div>

                <textarea name="share" class="effect-1 shr-ce" placeholder="{{'Add a Message' | translate}}"></textarea>

            </div>
            <div class="modal-footer fvd">
                <button type="button" class="post-share-btnn"><i class="far fa-credit-card"></i>{{'Add A Payment Card' | translate}}</button>
            </div>
        </div>
    </div>
<!-- Modal end -->