<div class="main_log_con">
  <div class="login-box single-page-form-card">
    <img src="../../../assets/client/images/logoo.png" class="lkgo" />
    <p>Sign up to make money and interact with your fans!</p>
    <form class="email-login" method="POST" action="http://new.ukmovedirect.co.uk/login">
      <div class="u-form-group">
        <input id="email" placeholder="Enter Your Name" type="email" class="form-control" name="email" value=""
          required="" autocomplete="email" autofocus="" />
      </div>
      <div class="u-form-group">
        <input id="email" placeholder="Enter Your Email" type="email" class="form-control" name="email" value=""
          required="" autocomplete="email" autofocus="" />
      </div>
      <div class="u-form-group">
        <input placeholder="Enter Your Password" id="password" type="password" class="form-control" name="password"
          required="" autocomplete="current-password" />
      </div>
      <div class="u-form-group">
        <button>Sign Up</button>
      </div>

      <div class="line-through">
        <span class="line-through-text">OR</span>
        <p class="line-through-border"></p>
      </div>
      <div class="social-login">
        <app-social-icon></app-social-icon>
      </div>
      <div class="u-form-group">
        <a routerLink="/auth/login" class="forgot-password">Already a member? Login</a>
      </div>
      <div class="u-form-group"></div>
    </form>
  </div>
</div>
