<div class="card">
    <div class="post-title d-flex align-items-center">

        <div class="profile-thumb">
            <a href="#">
                <figure class="profile-thumb-middle">
                    <img src="../../../assets/client/images/p1.jpg" alt="profile picture">
                </figure>
            </a>
        </div>

        <div class="posted-author">
            <h6 class="author"><a href="">Jashon Murry</a></h6>
            <span class="post-time">20 min ago</span>
        </div>


        <div class="post-settings-bar">
            <span></span>
            <span></span>
            <span></span>
            <div class="post-settings arrow-shape">
                <ul>
                    <li><button>copy link to adda</button></li>
                    <li><button>edit post</button></li>
                    <li><button>embed adda</button></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="post-content">
        <p class="post-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam luctus hendrerit metus, ut ullamcorper quaiquam luctus hendrerm finibus at.
            Etiam id magna sit amet...
        </p>
        <figure class="post-thumb img-popup">
            <a href="">
                <img src="../../../assets/client/images/pr.jpg" alt="post image">
            </a>
        </figure>
        <div class="post-meta">
            <button class="post-meta-like">
                <i class="far fa-heart"></i>
                <span>You and 201 people like this</span>
            </button>
            <ul class="comment-share-meta">
                <li>
                    <button class="post-comment">
                        <i class="far fa-comments" aria-hidden="true"></i>
                        <span>41</span>
                    </button>
                </li>
                <li>
                    <button class="post-share">
                        <i class="far fa-share-square"></i>
                        <span>07</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>

</div>