<div class="card" *ngFor="let post of Posts">
    <div class="post-title d-flex align-items-center">

        <div class="profile-thumb">
            <a href="">
                <figure class="profile-thumb-middle">
                    <img *ngIf="post.get_user.profile_pic === null" src="assets/client/images/normal.jpg" alt="profile picture">
                    <img *ngIf="post.get_user.profile_pic !== null" src="{{userPhotoUrl}}/{{post.get_user.profile_pic}}" alt="profile picture">
                </figure>
            </a>
        </div>

        <div class="posted-author">
            <h3 class="author"><a href="">{{post.get_user.name}}</a></h3>
            <span class="post-time">{{post.created_at}}</span>
        </div>


        <div class="post-settings-bar">
            <button mat-button [matMenuTriggerFor]="beforeMenu"><img src="assets/icons/menu-icon.png" class="menu-icon"></button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item>copy link to adda</button>
                <button mat-menu-item>edit post</button>
                <button mat-menu-item>embed adda</button>
            </mat-menu>
        </div>

    </div>

    <div class="post-content">
        <p class="post-desc">
            {{post.content}}
        </p>
        <figure class="post-thumb img-popup" *ngIf="post.get_post_media.length != 0">
            <a href="{{postPhotoUrl}}/{{post.get_post_media[0].file_name}}">
                <img src="{{postPhotoUrl}}/{{post.get_post_media[0].file_name}}" alt="post image">
            </a>
        </figure>
        <div class="post-meta">
            <button class="post-meta-like" *ngIf="post.get_post_likes.length != 0">
                <i class="far fa-heart"></i>
                <span>{{post.get_post_likes.length}} people like this</span>
            </button>
            <ul class="comment-share-meta">
                <li>
                    <button class="post-comment">
                        <i class="far fa-comments" aria-hidden="true"></i>
                        <span>{{post.get_post_comments.length}}</span>
                    </button>
                </li>
                <li>
                    <button class="post-share">
                        <i class="far fa-share-square"></i>
                        <span>07</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>

</div>