   <!-- Modal start -->
    <div class="modal-dialog pay-de">
        <div class="modal-content">
            <div class="cls">
            </div>
            <div class="modal-body custom-scroll ps">

                <div class="charges-de">
                    <p>Charges for this call will be applicable as lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                </div>

            </div>
            <div class="modal-footer fvd">
                <button type="button" class="post-share-btnn"><i class="fas fa-phone-alt" aria-hidden="true"></i>Call Now</button>
            </div>
        </div>
    </div>
<!-- Modal end -->