   <!-- Modal start -->
    <div class="modal-dialog pay-de">
        <div class="modal-content">
            <div class="cls">
            </div>
            <div class="modal-body custom-scroll ps">

                <div class="charges-de">
                    <p>{{'Call Description' | translate}} </p>
                </div>

            </div>
            <div class="modal-footer fvd">
                <button type="button" class="post-share-btnn"><i class="fas fa-phone-alt" aria-hidden="true"></i>{{'Call Now' | translate}}</button>
            </div>
        </div>
    </div>
<!-- Modal end -->