<section class="cover-sec">
    <img [src]="userWallUrl ? userWallUrl : 'assets/client/images/115007.png'" alt="">

    <div class="add-pic-box">
        <div class="container">
            <ul class="profile__actions">
                <li class="b-pitem active">
                   
                    <span class="">{{ total_post ? total_post : 0 }}</span>
                    <span class=""> Posts </span>
                    
                </li>
                <li class="b-pitem">
                   
                    <span class="">{{ post_media_image ? post_media_image : 0}}</span>
                    <span class="b-profile__actions__name"> Photos </span>
                   
                </li>
                <li class="b-pitem">
                    
                    <span class="">{{ post_media_video ? post_media_video : 0 }}</span>
                    <span class=""> Videos </span>
                   
                </li>
                <!---->
                <li class="b-pitem">
                   
                    <span class="">{{ total_favorites ? total_favorites : 0 }}</span>
                    <span class=""> Favorites </span>
                   
                </li>
                <li class="b-pitem">
                    
                    <span class="">{{ total_likes ? total_likes : 0 }}</span>
                    <span class=""> Likes </span>
                    
                </li>
            </ul>
        </div>
    </div>
</section>

<app-profile-userinfo *ngIf="userInfo" [userInfo]="userInfo"></app-profile-userinfo>
<section class="head-sec">
    <div class="container">

        <div class="row">

            <div class="col-lg-8 order-2 order-lg-1">
                <div class="card card-small">
                    <div class="share-box-inner">

                        <div class="share-content-box w-100">
                            <form class="share-text-box">
                                <textarea name="share" class="share-text-field" aria-disabled="true"
                                    placeholder="Compose new post" data-toggle="modal" data-target="#textbox"
                                    id="email"></textarea>
                                <button class="btn-share" type="submit">share</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
                <app-post-card [post]="post" *ngFor="let post of posts"></app-post-card>
            </div>

            <div class="col-lg-4 order-2 order-lg-1">
                
                <app-top-view [topViews]="topViews"></app-top-view>

                <div class="card widget-item">
                    <h4 class="widget-title">Most Subscribed</h4>
                    <div class="widget-body">
                        <ul class="like-page-list-wrapper">
                            <li class="unorder-list">
                                <div class="profile-thumb">
                                    <a href="#">
                                        <figure class="profile-thumb-small">
                                            <img src="assets/client/images/p2.jpg" alt="profile picture">
                                        </figure>
                                    </a>
                                </div>
                                <!-- profile picture end -->

                                <div class="unorder-list-info">
                                    <h3 class="list-title"><a href="#">Ammeya Jakson</a></h3>
                                    <p class="list-subtitle"><a href="#">10 mutual</a></p>
                                </div>
                                <button class="like-button">
                                    <img class="heart" src="assets/client/images/heart.png" alt="">
                                    <img class="heart-color" src="assets/client/images/heart-color.png" alt="">
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card widget-item">
                    <h4 class="widget-title">Best Selling Item</h4>
                    <div class="widget-body">
                        <ul class="like-page-list-wrapper">
                            <li class="unorder-list">
                                <div class="profile-thumb">
                                    <a href="#">
                                        <figure class="profile-thumb-small">
                                            <img src="assets/client/images/p2.jpg" alt="profile picture">
                                        </figure>
                                    </a>
                                </div>
                                <!-- profile picture end -->

                                <div class="unorder-list-info">
                                    <h3 class="list-title"><a href="#">Ammeya Jakson</a></h3>
                                    <p class="list-subtitle"><a href="#">10 mutual</a></p>
                                </div>
                                <button class="like-button">
                                    <img class="heart" src="assets/client/images/heart.png" alt="">
                                    <img class="heart-color" src="assets/client/images/heart-color.png" alt="">
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="row pagination">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="2" [rotate]="true" [boundaryLinks]="true" id="paginate" (click)="pageChange($event)"></ngb-pagination>
        </div>

    </div>
</section>

