<div class="main_log_con">
  <div class="login-box single-page-form-card">
    <img src="assets/client/images/logoo.png" class="lkgo" />
    <p>Sign up to make money and interact with your fans!</p>
    <form class="email-login" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="u-form-group">
        <input id="email" placeholder="Enter Your Email" type="email" class="form-control" formControlName="email" name="email" value="" required="" />
      </div>
      <div class="u-form-group">
        <input placeholder="Enter Your Password" id="password" type="password" class="form-control" formControlName="password" name="password" required=""/>
      </div>
      <div class="u-form-group">
        <!-- <mat-checkbox>Remember Me</mat-checkbox> -->
        <input type="checkbox" id="checked" class="custom-control-input" name="remember_me"/>
        <label class="custom-control-label" for="checked">Remember Me</label>
      </div>
      <div class="u-form-group">
        <button type="submit">Log in</button>
      </div>
    </form>
    <div class="line-through">
      <span class="line-through-text">OR</span>
      <p class="line-through-border"></p>
    </div>
    <div class="social-login">
      <app-social-icon></app-social-icon>
    </div>
    <div class="u-form-group">
      <a routerLink="/auth/register" class="forgot-password">Not a member? Join us</a>
      <a routerLink="/auth/forget" class="forgot-password">Forgot password?</a>
    </div>
  </div>
</div>
