<div class="main-wrapper pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
            </div>
            <div class="col-lg-12 order-2 order-lg-1">
                <div class="card sear">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="part-hdng dea">
                                <h3 class="page-sec-hfn">1 on 1 Call</h3>
                                <select class="form-control ">
                                    <option>Sort by</option>
                                    <option>Highest Contribution</option>
                                    <option>Most Recent Contribution</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row sus-dv">
                        <div class="col-lg-12">
                            <section class="cover-sec">
                                <img src="assets/client/images/115007.png" alt="">
                            </section>
                            <div class="profile-menu-area secondary-navigation-style">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-lg-2 col-md-2">
                                            <div class="profile-picture-box">
                                                <figure class="profile-picture">
                                                    <a href="profile.html">
                                                        <img src="assets/client/images/av.jpg" alt="profile picture">
                                                        <i class="fas fa-circle" aria-hidden="true"></i>
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-7">
                                            <div class="b-profile__user__status">
                                                <p class="time">Online<i class="fas fa-check" aria-hidden="true"></i></p>
                                                <div class="g-user-name m-lg-size m-verified"> Merry Watson </div>
                                                <div class="g-user-username"><a href=""> @MerryWatson </a></div>
                                                <div class="call-icon" (click)="openCallModal()">

                                                    <span data-toggle="tooltip" data-placement="top" title="1 to 1 Call">
                                                        <i data-toggle="modal" data-target="#textbox8" class="fas fa-phone-square-alt" aria-hidden="true"></i>
                                                    </span>
                            
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-lg-3 col-md-3 d-none d-md-block">
                                                <div class="dropdown language-dropdown et-fe">
                                                    <a data-toggle="dropdown" href="#" aria-expanded="false">
                                                         <i class="fas fa-ellipsis-h" aria-hidden="true"></i> 
                                                    </a>
                                                    <ul class="dropdown-menu language-change">
                                                        <li><a href="#"><img src=""></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="info-ing">
                                                    <div class="loca-de collapsed" data-toggle="collapse" data-target="#demo" aria-expanded="false">
                                                        <i class="far fa-user" aria-hidden="true"></i>Show more info
                                                    </div>
                                                    <div id="demo" class="collapse">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod tempor
                                                        incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                        minim veniam, quis nostrud
                                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                        consequat. Duis aute irure
                                                        dolor in reprehenderit in voluptate velit esse cillum dolore
                                                        eu fugiat nulla pariatur.
                                                        Excepteur sint occaecat cupidatat non proident, sunt in
                                                        culpa qui officia deserunt
                                                        mollit anim id est laborum.
                                                    </div>
                                                    <div class="loca-de">
                                                        <i class="fas fa-money-bill" aria-hidden="true"></i>$50 /
                                                        Minute
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>