<div class="main-wrapper pt-80">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 order-2 order-lg-1">
                <app-personal-header></app-personal-header>
            </div>

            <div class="col-lg-12 order-2 order-lg-1">

                <div class="card seas">
 
                   <div class="refer-sc">
                      <h2>Refer Friends & Earn Credit</h2>
                      <p>Indroduce a friend to Be my fan and you'll be creadited 5% to your account</p>
                   </div>
 
                   <div class="cont-copy">
                      <div class="refer-content-box w-100">
                         <h5>Share referral link with friends</h5>
                         <form class="refer-text-box">
                            <textarea name="share" class="refer-text-field" aria-disabled="true"
                               placeholder="www.bemyfan.com/loremipsum" id="email">{{referral_url}}</textarea>
                            <button class="btn-share" type="submit"><i class="fas fa-link"></i>Copy Link</button>
                         </form>
                      </div>
                   </div>
 
 
                   <div class="divider-sc">
                      <h2 class="divider line one-line" contenteditable>OR</h2>
                   </div>
 
                   <div class="qr-code-sc">
                      <h5>Scan QR Code to referral</h5>
                      <img src="http://{{qr_image_url}}">
                   </div>
                </div>
             </div>

        </div>
    </div>
</div>