<div class="ser-listing-details">

    <div class="ser-listing-company-logo pro-ic">
        <img src="assets/client/images/shirt.png" alt="">
    </div>
  
    <div class="ser-listing-description">
        <h3 class="ser-listing-title">{{item.name}}</h3>
        <p>{{item.description}}</p>
    
      <div class="ser-listing-footer">
        <ul>
            <li><i class="fas fa-money-bill" aria-hidden="true"></i>{{item.amount}}</li>
            <li><i class="fas fa-clock" aria-hidden="true"></i>{{item.shipping_days}}</li>
        </ul>
      </div>
  
    </div>
  
    <div class="ed-dd">
        <i class="fas fa-pen aaza" aria-hidden="true"></i>
        <i class="fas fa-trash aaza" aria-hidden="true"></i>
    </div>
  
  </div>
  
  
  