<div class="main-wrapper pt-80">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 order-2 order-lg-1">
                <app-personal-header></app-personal-header>
            </div>

            <div class="col-lg-12 order-2 order-lg-1">
                <div class="card seas">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="part-hdng dea">
                                <h3 class="page-sec-hfn">{{'Purchase History' | translate}}</h3>
                                <select class="form-control ">
                                    <option>{{'Sort by' | translate}}</option>
                                    <option>{{'Highest Contribution' | translate}}</option>
                                    <option>{{'Most Recent Contribution' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row fil-g">
                        <div class="col-lg-5">
                            <div class="prde-s">
                                <h3>{{'Select period' | translate}}</h3>
                            </div>
                        </div>
          
                        <div class="col-lg-7 ddsa">
                            <div class="row justify-content-md-center">
                                <div class="col">
                                    <div class="form-group fb-vds">
                                        <label for="pure-date">{{'From' | translate}}</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@</span>
                                            </div>
                                            <input type="date" class="form-control" id="pure-date" aria-describedby="date-design-prepend">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group fb-vds">
                                        <label for="from-date">{{'To' | translate}}</label>
                                        <div class="input-group mb-4 constrained">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@</span>
                                            </div>
                                            <input type="date" class="form-control ppDate" id="from-date" aria-describedby="date-design-prepend">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="listings-container compact-list-layout margin-top-35 sswa">

                        <a href="" class="ser-listing with-apply-button deswe">
          
                            <div class="ser-listing-details">
                            
                                <div class="ser-listing-company-logo">
                                    <i class="fas fa-file-invoice-dollar"></i>
                                </div>
            
                                
                                <div class="ser-listing-description">
                                    <h3 class="ser-listing-title">Earning Title </h3> <span class="categoriess">Subscrition</span>
                                    <p>{{'Earned from' | translate}} : Lorem Ipsum</p>
                                    <div class="ser-listing-footer">
                                        <ul>
                                            <li><i class="fas fa-clock" aria-hidden="true"></i> 2 days ago</li>
                                        </ul>
                                    </div>
                                </div>
            
                                <span class="pricde-dss">$145</span>
            
                            </div>

                        </a>
          
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="overall-main">
                                <h3 class="">{{'Overall Earning' | translate}} :</h3>
                                <div class="toatla-earnign"><span class="pricde-dss">$2885</span></div>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>

        </div>
    </div>
</div>